[submodule "third_party/boto"]
	path = third_party/boto
	url = git://github.com/boto/boto.git
[submodule "third_party/httplib2"]
	path = third_party/httplib2
	url = git://github.com/jcgregorio/httplib2.git
[submodule "third_party/google-api-python-client"]
	path = third_party/google-api-python-client
	url = git://github.com/gsutil-mirrors/google-api-python-client.git
[submodule "third_party/python-gflags"]
	path = third_party/python-gflags
	url = git://github.com/gsutil-mirrors/python-gflags.git
[submodule "third_party/crcmod"]
	path = third_party/crcmod
	url = https://github.com/gsutil-mirrors/crcmod.git
[submodule "third_party/crcmod_osx"]
	path = third_party/crcmod_osx
	url = https://github.com/gsutil-mirrors/crcmod-osx.git
[submodule "third_party/socksipy-branch"]
	path = third_party/socksipy-branch
	url = git://github.com/gsutil-mirrors/socksipy-branch.git
