include CHECKSUM
include COPYING
include LICENSE.third_party
include README.md
include VERSION
include gsutil
include setup.py
recursive-include gslib *
global-exclude .git*
global-exclude *.pyc
exclude gslib/commands/update.py
recursive-include scripts *
